@import 'resets';
@import 'forms';

@import 'typography';

@import 'ui-buttons';
@import 'ui-controls';
@import 'ui-message';


#TitleBar {
    display: flex;
    height: 64px;

    padding: 0.4rem;

    align-items: center;
    gap: 1rem;

    background: dodgerblue;
    color: white;

    .title {
        padding-left: 1rem;
        border-left: solid 1px white;
    }


}

#Content
{
    display: flex;
    height: 100%;

    #Sidebar {
        width: 15vw;
        background: #cccccc;


        #MainNav {
            font-family: 'Sofia Sans Condensed', 'Inter Tight', sans-serif;
            font-size: 2rem;
            font-weight: 700;

            ul {
                list-style: none;
                li {
                    a {
                        text-decoration: none;
                        color: dodgerblue;
                        &:hover {
                            text-decoration: underline;
                            text-decoration-color: magenta;
                        }
                    }
                }
            }
        }
    }

    #Stage {
        flex: 1;
        padding: 1rem;

        h1 {
            font-size: 2.4rem;
        }
    }
}

#StatusBar
{
    height: 16px;
    background: #fafafa;

}

@import 'containers';
