@import 'resets';
@import 'forms';

@import 'typography';

@import 'ui-buttons';
@import 'ui-controls';
@import 'ui-message';


#TitleBar {
    display: flex;
    height: 64px;

    padding: 0.4rem;

    align-items: center;
    gap: 1rem;

    background: dodgerblue;
    color: white;

    .title {
        padding-left: 1rem;
        border-left: solid 1px white;
    }


}

#Content
{
    height: 100%;
}

#StatusBar
{
    height: 16px;
    background: #fafafa;

}

@import 'containers';
